@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

html, body {
	min-height: 100%;
}

body {
	font-family: Calibri ,sans-serif;
	box-sizing: border-box;
	
	background-color: rgb(244, 239, 213);
	/*background-image: radial-gradient(
		circle at top left, #F5F1E3, rgb(244, 239, 213)
	);*/
}

#webdocument_wrapper {
	margin: 0 auto;
}


#site_title {
	font-size: 26px;
}

#site_title > a {
	text-decoration: none;
	color: #000;
}


#webdocument_header_wrapper, 
.activity_wrapper,
#webdocument_footer_wrapper {
	padding-left: 5%;
	padding-right: 5%;
}


#webdocument_header_wrapper {
	background-color: rgb(244, 221, 202);
}

#webdocument_header_wrapper, 
#webdocument_header_wrapper::before, 
#webdocument_header_wrapper::after {
	background-color: rgb(244, 221, 202);
	border-bottom: 5px solid rgb(255, 195, 115);
}
/*
#webdocument_header_wrapper::before, 
#webdocument_header_wrapper::after {
	content: "";
	display: block;
	
	width: 10%;
	height: 100%;
	
	position: absolute;
	top: 0px;
}

#webdocument_header_wrapper::before { left: -10%; }
#webdocument_header_wrapper::after { right: -10%; }
*/


#webdocument_header_wrapper > section > aside {
	flex: 3;
}

#webdocument_header_wrapper > section > div {
	flex: 100px;
}

#webdocument_header_wrapper > section > div > span {
	font-size: 100px;
	line-height: 60%;
	color: rgb(255, 195, 115);
}




form {
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }



select, input[type="text"]
{
	width:150px;
	display:block;
	margin-bottom:10px;
	background-color:#F5F5F5;
}

footer {
	width: 80%;
	margin: 0 auto;
}




.county_preview, .county_preview_input {
	display: none;
}

.county_preview_input:checked + .county_preview {
	display: block;
}



.info_box {
	padding: 5px;
	
	border: 1px solid #C7CEDE; 	/*border: 1px solid #a5b6de;*/
	border-radius: 2px;
	
	background-color: #EDEFF5; 	/*background-color: #e3e8f6;*/
}

.section_info_box {
	border: 6px solid #a5b6de;
	border-radius: 2px;
	
	background-color: #e3e8f6;
}

.info_box::before,
.section_info_box::before {
	content: "\2318";
	display: inline-block;
	
	margin-right: 10px;
	font-size: 20px;
	color: #29407b;
}



.section_vertical_margins {
	margin-top: 10px;
	margin-bottom: 30px;
}


.section_margin_left {
	margin-left: 15px;
}

.section_margin_right {
	margin-right: 15px;
}

.section_margin_bottom {
	margin-bottom: 30px;
}



.section_margin_left_plus {
	margin-left: 35px;
}

.section_margin_right_plus {
	margin-right: 35px;
}


.space_between_wrapper, 
.side_by_side_wrapper,
.column_wrapper {
	display: flex;
}

.space_between_wrapper {
	justify-content: space-between;
}

.side_by_side_wrapper {
	justify-content: flext-start;
}

.column_wrapper {
	justify-content: flext-start;
	flex-direction: column;
}


.column_wrapper.bottom_alignment {
	justify-content: flex-end;
}


.column_wrapper.center_alignment {
	justify-content: center;
}

.space_between_wrapper > * {
	/*flex: 1;*/
}

.flex_wrap {
	flex-wrap: wrap;
}

.flex_elements_equal_size > * {
	flex: 1;
}


.fieldset {
	border: 0px;
}

.section_heading {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.section_heading:first-letter {
	font-size: 150%;
	font-weight: 100;
}


#weather_type_fieldset_wrapper {
	min-width: 100px;
}


.weather_type_fieldset > div {
	/*'border: 1px solid #ddd;*/
	border-radius: 2px;
}

.weather_type_wrapper {
	display: block;
	width: 100px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	
	border-radius: 2px;
	
	text-align: center;
}

.weather_type_input_wrapper .weather_type_wrapper {
	cursor: pointer; 
}


/*.weather_type_input_wrapper .weather_type_input_wrapper:first-child *[data-weather-type] {
	margin-left: 0px;
}*/


.weather_type_input_wrapper input[type="radio"] {
	display: none;
}


.active_weather_type_wrapper, 
.weather_type_input_wrapper input[type="radio"]:checked + *[data-weather-type] .weather_type_wrapper {
	background-color: #ffc373;
}

.weather_type_wrapper .icon {
	display: block;
	font-size: 35px;
	/*font-family: u2400;*/
}


/*'
*[data-weather-type="sun"]::before, 
*[data-weather-type="overcast"]::before, 
*[data-weather-type="rain"]::before, 
*[data-weather-type="snow"]::before {
	display: block;
	font-size: 35px;
}

*[data-weather-type="sun"]::before { content: "\2600"; }
*[data-weather-type="overcast"]::before { content: "\2601"; }
*[data-weather-type="rain"]::before { content: "\2614"; }
*[data-weather-type="snow"]::before { content: "\2744"; }*/ /* snowman: \2603*/




.county_tab_label_wrapper {
	margin-bottom: 15px;
}

.county_tab_label {
	display: inline-block;
	padding: 2px 5px;
	
	margin-left: 5px;
	margin-right: 5px;
	
	border-radius: 2px;
	
	cursor: pointer;
	white-space: nowrap;
}


.county_tab_label.active {
	background-color: #ffc373;
}


.municipality_selection_wrapper, #municipality_preview_wrapper {
	column-count: auto;
	column-width: 130px;
	
	-webkit-column-count: auto;
	-webkit-column-width: 130px;
	
	-moz-column-count: auto;
	-moz-column-width: 130px;
}



.nowrap {
	white-space: nowrap;
}


.stand_out_wrapper {
	border-radius: 2px;
	border: 6px solid rgb(244, 221, 202);
	
	background-color: #fff;
}

.section_padding {
	padding-top: 20px;
	padding-bottom: 20px;
	
	padding-left: 20px;
	padding-right: 20px;
}

.section_horizontal_padding {
	padding-left: 15px;
	padding-right: 15px;
}

.section_vertical_padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

.section_bottom_padding {
	padding-bottom: 10px;
}

.heading_vertical_margin {
	margin-top: 10px;
	margin-bottom: 5px;
}

.heading_top_padding {
	padding-top: 10px;
}

.heading_bottom_margin {
	margin-bottom: 15px;
}



.clear_legend_top {
	position: relative;
}
.clear_legend_top > legend {
	position: absolute;
	top: 20px;
}


.horizontal_center_text {
	width: 100%;
	text-align: center;
}


.fancy_underlined {
	/*box-shadow: 0px 1px 0px 0px rgb(179, 216, 181);*/
	width: 100%;
	border-radius: 5px;
	/*''border-bottom: 1px solid rgb(179, 216, 181);*/
	border-bottom: 1px solid rgba(189, 216, 190, 0.6);
}

.block_box {
	display: block;
}

.inline_block_box {
	display: inline-block;
}


.full_width {
	width: 100%;
}



.vocabular_prefix {
	font-weight: 700;
}

.vocabular_uri {
	font-style: italic;
}



.hidden_element {
	display: none;
}



.tag_padding {
	padding: 2px 5px;
}


.rounded_edges {
	border-radius: 2px;
}


#municipality_preview_wrapper {
	flex: 500px 1;
}


#municipality_preview_wrapper ~ * {
	flex: 100px 4;
}


#municipality_preview_wrapper label {
	background-color: #FFC373;
}


#municipality_preview_wrapper label::after {
	content: "X";
	display: inline-block;
	
	/*height: 80%;*/
	font-size: 60%;
	vertical-align: middle;
	/*line-height: 150%;*/
	
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 1px 3px;
	
	background-color: #F4DDCA;
	border: 1px solid #F4EFD5;
	
	cursor: pointer; 
}

#found_cabins_wrap .found_cabins {
	flex: 400px 1;
}

#found_cabins_wrap .found_cabins img {
	max-height: 150px;
	max-width: 150px;
}


.equal_flex > * {
	flex: 1;
}

.btn {
	display: inline-block;
	padding: 5px 5px;
	
	border-radius: 2px;
	border: 2px solid #FFB555;
	border-bottom-color: #FFAA3E;
	border-right-color: #FFAA3E;
	background-color: #FFC373;
	
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	
	cursor: pointer;
}

#search_criteria_section_toggle_label {
	border-color: #F5D3B7;
	border-bottom-color: #F5C6A0;
	border-right-color: #F5C6A0;
	
	background-color: #F4DDCA;
	
	font-weight: 100;
}


#search_criteria_section_toggle_input {
	display: none;
}

#search_criteria_section_toggle_input:checked ~ * #search_criteria_section_toggle_label {
	/*content: "Vis søkevalgene";*/
}

#search_criteria_section_toggle_input:disabled ~ * #search_criteria_section_toggle_label {
	/*content: "Viser søkevalgene";*/
	
	font-style: italic;
	opacity: 0.6;
	cursor: default;
}


#search {
	position: relative;
	overflow: hidden;
}

#search_criteria_section {
	position: relative;
	left: 0px;
	
	overflow: hidden;
	height: auto;
	max-height: 600px;
	
	/*-webkit-transition: left 1s, max-height 1s;*/
	transition: max-height 1s, left 1s;
	transition-timing-function: ease;
}


#search_criteria_section_toggle_input:checked ~ #search_criteria_section {
	/*display: none;*/
	
	/*-webkit-transition: left 1s, max-height 1s;*/
	transition: max-height 1s, left 1s;
	transition-timing-function: ease;
	
	left: 120%;
	height: auto;
	min-height: auto;
	max-height: 0px;
}






